{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Order Update Page{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Order Update Item</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-secondary" href="{% url 'dashboard-order' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Order Update Item</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-secondary" href="{% url 'dashboard-index' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}